body {
    background-color: #ffffff; /* 明るい背景 */
    color: #333333; /* 暗いテキスト */
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

h1, h3 {
    color: #008000; /* HALのテーマカラー */
}

strong {
    color: #6200EE; /* アクセントカラー */
}

a {
    color: #018786;
}

.theme-switch {
    border: 1px solid #008000;
    padding: 5px;
    text-decoration: none;
}
